<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Event Widget</title>
        <link href="/media/widget.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="pb_widget">
        <h3>Eventos para este mes</h3>
        <ul>
            {% for event in objects %}
            <li><a href="{{event.url}}">{{event.body}}</a></li>
            {% endfor %}
        </ul>
        <a href='http://www.linux.org.pe/eventos/' class='more'>m&aacute;s eventos</a>
    </body>
</html>
